.FileViewerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    z-index: 1; // Hide file content box shadow in case it goes past the header

    .file-name-cont {
        display: flex;
        align-items: center;
        background: $neutral;
        height: 4rem;
        max-width: 32.75dvw; // Makes sure it leaves enough space for the centered "Open With" btn for desktop, matching the toolbar
        padding: 0 1rem;
        gap: 1.2rem;
        border-bottom: .0625rem solid $primary;
        border-right: .0625rem solid $primary;
        clip-path: url(#fileViewerNameContClip);

        h1 {
            font-size: 1.2rem;
            font-weight: normal;
            margin: 0;
            margin-top: -0.2rem;
            margin-right: 0.75rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .close-btn {
            font-size: 1.8rem;
            background: transparent;
        }
    }

    .open-with-btn-wide-screen {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;

        font-size: 1.1rem;
        height: 3rem;
        width: 10rem;
        padding-bottom: 0.1rem;
        padding-left: 0.3rem;
        margin: 0 auto;
        left: 0;
        right: 0;

        border: .125rem solid $primary;
        border-radius: 999rem;
        clip-path: url(#fileViewerNormalBtnClip);

        .chevron {
            margin-bottom: -0.22rem;
            font-size: 1.2rem;
        }
    }

    .file-viewer-toolbar {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 2rem;
        margin-right: 0.5rem;
        height: 3rem;

        > .btn-icon-wrapper {
            height: fit-content;
        }

        .btn-icon {
            clip-path: url(#fileViewerNormalBtnClip);
        }
        .share-btn {
            display: flex;
            align-items: center;
            gap: 0.9rem;
            height: 100%;
            padding-left: .6rem;
            padding-right: 0.65rem;
            font-size: 1.2rem;
            border: .0625rem solid $primary;
            clip-path: url(#fileViewerNormalBtnClip);

            .share-icon {
                font-size: 1.4rem;
            }
        }
        .more-cont {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        background: black;
        border-bottom: .0625rem solid $primary;

        .file-name-cont {
            max-width: unset;
            width: auto;
            min-width: 0; // Allow shrinking when toolbar is close enough
            padding-right: 1.5rem;
            
            background: transparent;
            border: none;
    
            h1 {
                min-width: 0;
            }

            @media (max-width: 425px) {
                h1 {
                    font-size: 1.1rem;
                }
            }
        }
    
        .open-with-btn-wide-screen {
            display: none;
        }

        .file-viewer-toolbar {
            margin-right: .6rem;

            .more-cont {
                position: relative;
                display: inline-block;

                .more-tools-dropdown { // buttons here are not affected by '>' styles outside this
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    
                    margin-top: .5rem;
                    padding: .5rem 0;
                    height: fit-content;
                    width: max-content;
                    border: .0625rem solid $primary;

                    top: 100%;
                    right: 0;
                    z-index: 1;

                    background: $neutral;
                    clip-path: url('#FileViewerMoreToolsDropdownClip');
                    @include dropdown-arrow($moreToolsFileViewer: true);

                    > button {
                        display: flex;
                        align-items: center;
                        gap: .7rem;
                        padding: 0 .7rem;
                        padding-right: 1.1rem;
                        font-size: 1.15rem;
                        height: 3rem;
                        width: 100%;
                        @include dropdown-item-focus-offset;

                        .tool-icon {
                            width: 2rem;
                            font-size: 1.9rem;

                            &.open-with-icon {
                                font-size: 1.55rem;
                                margin-bottom: .15rem;
                                margin-left: .1rem;
                            }
                        }
                    }

                    .comment-btn, .print-btn, .download-btn {
                        display: none;
                    }
                }
            }

            .share-btn {
                padding: 0;
                clip-path: url(#fileViewerNormalBtnClip);
                border: none;
                height: 2rem;

                .share-icon {
                    font-size: 1.7rem;
                }
                .share-txt {
                    display: none;
                }
            }

            @media (max-width: 690px) {
                > .comment-btn, > .print-btn {
                    display: none;
                }

                .more-tools-dropdown {
                    .comment-btn, .print-btn {
                        display: flex !important;
                    }
                }
            }
            @media (max-width: 540px) {
                // Leave padding-right in .file-name-cont at this width as is - the gap is good enough
                > .download-btn {
                    display: none;
                }

                .more-tools-dropdown .download-btn {
                    display: flex !important;
                }
            }
        }
    }
}