.UploadInfo {
    position: absolute;
    width: 34.1rem;
    max-width: 100dvw;

    bottom: 0;
    right: 0;
    z-index: 2; // for zoom, so that it's not hidden behind list header 
    background: $neutral;
    clip-path: url(#uploadInfoClip);
}

body:has(.Modal) {
    // Move behind behind Modal. May temporarily be behind list header during this if user zoomed in enough but not big issue
    .UploadInfo { 
        z-index: 1;
    }
}